$darkmode: false;
$primary: #934c00;
$onPrimary: #ffffff;
$primaryContainer: #ffdcc2;
$onPrimaryContainer: #2f1400;
$secondary: #755945;
$onSecondary: #ffffff;
$secondaryContainer: #ffdcc2;
$onSecondaryContainer: #2a1707;
$tertiary: #5d6236;
$onTertiary: #ffffff;
$tertiaryContainer: #e2e7af;
$onTertiaryContainer: #1a1e00;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$colorbarbg: #fcfcfc;
$background: #fcfcfc;
$onBackground: #201a17;
$surface: #fcfcfc;
$onSurface: #201a17;
$surfaceVariant: #f3dfd2;
$onSurfaceVariant: #51443b;
$outline: #847469;
$shadow: #000000;
$inverseSurface: #352f2b;
$inverseOnSurface: #faeee8;
$inversePrimary: #ffb77c;
