$darkmode: true;
$primary: #4cdad8;
$onPrimary: #003737;
$primaryContainer: #00504f;
$onPrimaryContainer: #6ff7f4;
$secondary: #b1cccb;
$onSecondary: #1b3534;
$secondaryContainer: #314b4a;
$onSecondaryContainer: #cce8e6;
$tertiary: #b2c8e8;
$onTertiary: #1b324b;
$tertiaryContainer: #324863;
$onTertiaryContainer: #d1e4ff;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #0F1010;
$background: #0F1010;
$onBackground: #e0e3e2;
$surface: #191c1c;
$onSurface: #e0e3e2;
$surfaceVariant: #3f4948;
$onSurfaceVariant: #bec8c7;
$outline: #889392;
$shadow: #000000;
$inverseSurface: #e0e3e2;
$inverseOnSurface: #2e3131;
$inversePrimary: #006a69;
